.specialty-child {
    cursor: pointer;  
    text-align: center;
    font-weight: 600;

    
    .bg-image.section-specialty {
        height: 150px;
        width: 100%;
        margin-left: 80px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 10px; /* Khoảng cách giữa hình và chữ */
    }

    .specialty-name {
        display: block; /* Đảm bảo chiếm toàn bộ chiều rộng */
        text-align: center; /* Căn giữa chữ */
        margin-right: -70px;
        padding: 10px 0;
        &:hover {
            color: #abde5f;
        }
    }
}